<label for="select"><h5>Ricerca per: </h5></label>
<select id="select">
  <option *ngFor="let column of myConfig.search.columns" [value]="column">{{column}}</option>
</select>
<input type="text" placeholder="cerca">

<table border="3" style="margin: 5px; text-align: center">
  <th *ngFor="let header of myConfig.headers" (click)="order(header.key)">
    {{header.label}}
    <mat-icon *ngIf="(myConfig.order.orderType === 'ASC') && (header.key === myConfig.order.defaultColumn)">
      keyboard_arrow_up
    </mat-icon>
    <mat-icon *ngIf="(myConfig.order.orderType === 'DESC') && (header.key === myConfig.order.defaultColumn)">
      keyboard_arrow_down
    </mat-icon>
  </th>
  <tr *ngFor="let item of data">
    <td *ngFor="let header of myConfig.headers">{{item[header.key]}}</td>
  </tr>
</table>
