<table border="3" style="margin: 5px; text-align: center">
  <th *ngFor="let header of myConfig.headers">{{header.label}}</th>
  <tr>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td><app-my-button [myConfig]="myButtonConfigModifica"></app-my-button></td>
    <td><app-my-button [myConfig]="myButtonConfigElimina"></app-my-button></td>
  </tr>
  <tr>
    <td>b</td>
    <td>b</td>
    <td>b</td>
    <td>b</td>
    <td><app-my-button [myConfig]="myButtonConfigModifica"></app-my-button></td>
    <td><app-my-button [myConfig]="myButtonConfigElimina"></app-my-button></td>
  </tr>
  <tr>
    <td>c</td>
    <td>c</td>
    <td>c</td>
    <td>c</td>
    <td><app-my-button [myConfig]="myButtonConfigModifica"></app-my-button></td>
    <td><app-my-button [myConfig]="myButtonConfigElimina"></app-my-button></td>
  </tr>
  <tr>
    <td>d</td>
    <td>d</td>
    <td>d</td>
    <td>d</td>
    <td><app-my-button [myConfig]="myButtonConfigModifica"></app-my-button></td>
    <td><app-my-button [myConfig]="myButtonConfigElimina"></app-my-button></td>
  </tr>
  <tr>
    <td>e</td>
    <td>e</td>
    <td>e</td>
    <td>e</td>
    <td><app-my-button [myConfig]="myButtonConfigModifica"></app-my-button></td>
    <td><app-my-button [myConfig]="myButtonConfigElimina"></app-my-button></td>
  </tr>
</table>
